{% for article in articles %}
	<div class="card my-2" style="width: 225px">
		<div class="card-body">
			<h5 class="card-title">
				{{ article.titre }}
			</h5>
			<p class="card-text">
				{{ article.resume }}
			</p>
			<i class="text-right">{{ article.auteur }}</i>
			<br>
			<i class="text-muted" style="font-size: .75em;">{{ article.datePublication|format_datetime() }}</i>
		</div>
		<div class="d-flex justify-content-around my-1">
			<a class="articleCommands btn btn-info" href="{{path("articlePage", {articleId: article.id} )}}">
				<i class="fas fa-newspaper"></i>
			</a>
			<a class="articleCommands btn btn-info" href="{{path("articleForm", {articleId: article.id} )}}">
				<i class="fas fa-edit"></i>
			</a>
			<form action="{{path("articleDel")}}" method="post" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer cet article ?')">
				<input type="hidden" name="articleId" value="{{article.id}}"/>
				<input type="hidden" name="_token" value="{{ csrf_token( 'delete' ~ article.id ) }}"/>
				<button style="width: 44px" class="articleCommands btn btn-info" >
					<i class="fas fa-trash-alt"></i>
				</button>
			</form>
		</div>
	</div>
{% endfor %}
