{% extends "partials/base.html.twig" %}

{% block title %}
	Article n°{{article.id}}
{% endblock %}

{% block pageTitle %}
	<h1 class="text-center jumbotron">
		{{article.titre}}
	</h1>
{% endblock %}

{% block body %}

	<ul>

    <p>
		{{article.resume}}
    </p>

    <p>
		{{article.auteur}}
    </p>

    <p>
    Fait le : {{article.date}}
    </p>

		<li class='list-unstyled mb-2'>
			<a class='btn btn-primary btn-sm' href='{{path("accueilPage")}}'>Revenir à la page d'accueil</a>
		</li>

	</ul>

{% endblock %}
