{% extends "partials/base.html.twig" %}

{% block title %}
	Créer/Modifier un article
{% endblock %}


{% block pageTitle %}
	<h1 class="text-center jumbotron">
		Créer/Modifier un article
	</h1>
{% endblock %}

{% block body %}
	<div class="container">

		{{ form_start(form) }}

		<div class="row">
			<div class="col-md-6">{{ form_row(form.titre) }}</div>
			<div class="col-md-6">{{ form_row(form.auteur) }}</div>
		</div>

		{{ form_rest(form) }}

		<div class="row">
			<div class="row text-center justify-content-center container-fluid">
				<a href="{{ path("accueilPage") }}" class="btn btn-sm btn-warning mr-5">Annuler</a>
				<button class="btn btn-sm btn-primary">Enregistrer</button>
			</div>
		</div>

		{{ form_end(form) }}

	</div>
{% endblock %}
