{% extends "partials/base.html.twig" %}

{% block title %}
	Page d'accueil
{% endblock %}


{% block pageTitle %}
	<h1 class="text-center jumbotron">
		Page d'accueil
	</h1>
{% endblock %}

{% block body %}

	{% for message in app.flashes("success") %}
		<div class="row mb-2 d-flex flex-row justify-content-center">
			<div class="alert alert-success">{{message}}</div>
		</div>
	{% endfor %}

	{% block articleSearchField %}
		<div class="text-center mb-4 d-flex justify-content-center">
			<form action="{{ path('accueilPage') }}" method="post">
				<p>Articles publiés après la date :</p>
				<input type="date" placeholder="{{articleDateMax}}" value="" name="dateChoice"/>
				<p>Articles publiés par l'auteur:</p>
				<select type="text" name="authorChoice">
					<option value="">Choisir un auteur</option>
					{% for authorElement in allAuthors %}
						<option value="{{authorElement}}"/>{{authorElement}}</option>
				{% endfor %}
			</select>
			<button type="submit">
				<i class="fas fa-search"></i>
			</button>
		</form>
	</div>
{% endblock %}

<div class="mx-5 px-5">
	<div
		class="d-flex flex-row flex-wrap justify-content-between mx-5 px-5">
		{# On va chercher la route articleList pour la rendre ici en tant que fragment #}
		{{ render( path( 'articleList' , {dateMax: articleDateMax, authorOnly: articleOnlyAuthor} ) )}}
	</div>
</div>{% endblock %}
